.slideAlert {
  animation: slideAlert 0.5s ease-in-out forwards;
}

@keyframes slideAlert {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }


  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.alert {
  cursor: pointer;
  padding: 10px;
  background-color: #5BC28D;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  color: white;
  text-align: center;
  height: 50px;
  transition: all 0.5s
}

.alert:hover {
  width: 60%;
}

.alert:hover .alertContent {
  margin-left: 0;
}

.alert:hover .alertT {
  max-width: 150px;
}

.alert:hover .alertQ {
  max-width: 400px;
  opacity: 1;
  position: fixed;
  top: 10px;
  left: 40%;
  display: inline-block;
}

.alertContent {
  transition: all 0.5s;
  margin-left: 20%;
  text-align: left;
}

.alertContent span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: sub;
  font-size: 1em;
}

.alertIcon {
  padding-right: 15px;
  display: inline-block;
  height: 50px;
  float: left;
}


.Abtn {
  display: inline-block;
}


.alertQ {
  transition: all 0.5s;
  opacity: 0;
  position: fixed;
  top: 10px;
  left: 40%;
  display: inline-block;
}
