
.dashboardContainer {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #DEDEDE;
}

.dashboardMain {
  margin-left: 20%;
  height: 100vh;
  background-color: white;
  float: right;
  width: 83%;
}


.dashNav {
  background-color: #364452;
  width: 17%;
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.dashNav button {
  margin: 10px;
}

.topSection {
  border-bottom: 2px solid #c6c6c6;
  background-color: white;
  position: relative;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}


.userData {
  color: white;
  margin-top: 180px;
  margin-left: 60px;
}

.userData p {
  text-align: left;
  margin: 0;
  display: inline-block;
  margin-left: 20px;
}

.dashUserIcon {
  display: inline-block;
}

.dashBtns {
  margin-top: 100px;
  margin-left: 50px;
}

.dashLogo {
  height: 70px;
  background-color: #29343e;
}

.userWelcome {
  color: black;
  margin: 0;
  margin-left: 20%;
}

.userWelcome p {
  display: inline-block;
  margin-left: 20px;
}

.dashBtns button {
  text-align: left;
  color: white;
  width: 200px;
  border: none;
  background: none;
  font-size: 1em;
  transition: all 0.5s
}

.dashBtns button:hover {
  border: none;
  padding-left: 10px;
  text-align: left;
  color: black;
  width: 200px;
  background: none;
  font-size: 1em;
}

.dashIcon {
  vertical-align: sub;
  height: 20px;
  padding-right: 10px;
}


.dashUserIcon {
  height: 30px;
}

.logoutBtn {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-bottom: 50px;
}


.hideQList {
  display: none;
}

/* Dash Home */


.dashHome {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #5BC28D;
}

svg text {
  fill: #5BC28D;
}

svg line {
  stroke: #5BC28D;
}

.charts {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  padding: 20px;
  margin-left: 15px;
  border-radius: 10px;
}

.activity {
  margin: auto;
  height: 180px;
  width: 95%;
  color: #5BC28D;
}

.activity h3, h2 {
  margin: 0;
}


.allStats {
  display: inline-block;
  width: 100%;
  align-content: center;
}

.stats {
  display: inline-block;
  height: 180px;
  width: 50%;
  color: #5BC28D;
}


.statsQ {
  vertical-align: bottom;
  display: inline-block;
  height: 180px;
  width: 50%;
  color: #5BC28D;
}
