
.dashboardContainer {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #DEDEDE;
}

.dashboardMain {
  width: 1200px;
  top: 120px;
  position: absolute;
  z-index: 10;
  margin-left: 20%;
  max-width: 70%;
  height: 100vh;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.40);
}


.dashNav {
  width: 17%;
  padding: 10px;
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.dashNav button {
  margin: 10px;
}

.topSection {
  position: relative;
  height: 300px;
  background-image: url("../public/dashMain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dashLogo {
  margin-top: 10px;
}

.logoutDash {
  float: right;
  display: inline-block;
  color: white;
  padding: 15px;
  padding-right: 25px;
}

.logoIconDash {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}

.logoTitleDash {
  color: white;
  padding-top: 20px;
  font-size: 1.5em;
  padding-left: 10px;
}

.userData {
  color: white;
  margin-top: 180px;
  margin-left: 60px;
}

.userData p {
  text-align: left;
  margin: 0;
  display: inline-block;
  margin-left: 20px;
}

.dashUserIcon {
  display: inline-block;
}

.dashBtns {
  margin-top: 100px;
  margin-left: 50px;
}

.dashBtns button {
  text-align: left;
  color: grey;
  width: 200px;
  border: none;
  background: none;
  font-size: 1em;
  transition: all 0.5s
}

.dashBtns button:hover {
  padding-left: 10px;
  text-align: left;
  color: black;
  width: 200px;
  background: none;
  font-size: 1em;
}

.dashIcon {
  vertical-align: sub;
  height: 20px;
  padding-right: 10px;
}


.dashUserIcon {
  height: 30px;
}

.logoutBtn {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-bottom: 50px;
}


.hideQList {
  display: none;
}

/* Dash Home */

svg text {
  fill: #5BC28D;
}

svg line {
  stroke: #5BC28D;
}


.dashHome {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #5BC28D;
}

.dashHome h1 {
  font-weight: lighter;
}


.activity {
  height: 180px;
  width: 100%;
  color: white;
  background-image: url("../public/dash1.jpg");
  background-size: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.activity h3, h2 {
  margin: 0;
}

.welcomeMsg {
  font-size: 2em;
  padding-top: 70px;
}

.chart {
  margin: auto;
  width: 54%;
}

.allStats {
  display: inline-block;
  width: 100%;
  align-content: center;
}

.stats {
  margin-left: 15px;
  border-radius: 10px;
  font-size: 1.8em;
  display: inline-block;
  height: 380px;
  width: 45%;
  color: white;
  background-image: url("../public/dash1.jpg");
  background-size: cover;
}

.stats h3, h2 {
  margin: 0;
  font-weight: lighter;
}

.stats h2 {
  margin: 0;
  padding-top: 30px;
  font-weight: bold;
  font-size: 3em;
}

.statsQ h3, h2 {
  margin: 0;
  font-weight: lighter;
}


.statsQ h2 {
  margin: 0;
  padding-top: 30px;
  font-weight: bold;
  font-size: 3em;
}

.statsQ {
  margin-right: 15px;
  border-radius: 10px;
  font-size: 1.8em;
  vertical-align: bottom;
  display: inline-block;
  height: 380px;
  width: 45%;
  color: white;
  background-image: url("../public/dash1.jpg");
  background-size: cover;
}


.statIcon {
  padding-top: 50px;
}
