.QlistScroll {
  /*overflow-y: scroll;*/
  height: 100%;
}

.QlistScroll h2 {
  text-align: center;
  color: #5BC28D;
}

.Qlist {
  border-radius: 5px;
  margin: auto;
  width: 80%;
  padding: 25px;
  color: black;
  -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.15);
  margin-bottom: 10px;
}

.titleT {
  font-size: 0.7em;
  color: grey;
}

.titleQ {
  font-size: 0.7em;
  color: grey;
}

.titleSection {
  width: 40%;
  display: inline-block;
}

.questionSection {
  width: 40%;
  display: inline-block;
}

hr.style2 {
	border: 1px solid #5BC28D;
  border-radius: 15px;
  width: 90%;
}

.showOneQ {
  background: none;
  border: 1px solid #5BC28D;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  transition: all 0.5s;
}

.showOneQ:hover {
  background: #5BC28D;
  color: white;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
}


/* answer question section */


.answerQ {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

h5, h6 {
  margin: 0;
}

h5 {
  font-size: 1.5em;
  margin: 5px 0 10px 0;
}

h6 {
  font-size: 1em;
  color: grey;
}

.answerText {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.ansSubmit {
  background: #5BC28D;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: 120px;
  margin-bottom: 20px;
}


.allQsBtn {
  margin-right: 90px;
  float: right;
  display: inline-block;
  background: none;
  color: #5BC28D;
  border: 1px solid #5BC28D;
  border-radius: 30px;
  padding: 10px;
  width: 120px;
  margin-bottom: 20px;
}



/* ask question */


.askQcontainer {
  width: 50%;
  margin: auto;
  padding: 25px;
}


.askQTitle {
  color: #5BC28D;
  text-align: center;
}

.Qform {
  margin: auto;
  margin-top: 150px;
  width: 150%;
}

.Qinput {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.askQBtn {
  background-color: #5BC28D;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  color: white;
  margin-top: 25px;
}
